.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Portfolio/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
.vs/Portfolio/FileContentIndex/0cb02d1c-173c-4bb8-8c90-083330877013.vsidx
.vs/Portfolio/FileContentIndex/4d46d36e-fcb2-4fbd-88d5-783757d636c6.vsidx
.vs/Portfolio/FileContentIndex/7de9b905-437a-4197-8ae4-ae11b4330531.vsidx
.vs/Portfolio/FileContentIndex/aec6f51b-9cf3-4f12-b406-4ad88d85adbd.vsidx
.vs/Portfolio/FileContentIndex/b21b69fe-6240-4ec0-92e1-c98edc53f02e.vsidx
.vs/Portfolio/config/applicationhost.config
.vs/Portfolio/v17/.wsuo
.vs/Portfolio/v17/DocumentLayout.backup.json
.vs/Portfolio/v17/DocumentLayout.json
.vs/crispy-portfolio/v17/.wsuo
